<div class="banner">

    <p>Qui Som?</p>

</div>

<div class="row my-5 mx-3">

    <div class="col-lg-6 col-md-6 col-sm-6">

        <img src="/assets/qui-som/quisom-col.jpg" class="img-fluid mx-auto d-block" title="Taxis">

    </div>
    
    <div class="col-lg-6 col-md-6 col-sm-6">

        <h4>Taxis</h4>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae totam rem inventore distinctio commodi error voluptas ad, harum magnam soluta dicta ullam architecto. Quos, mollitia qui, quo illum quae neque ut nihil earum nulla assumenda accusantium aspernatur, magnam atque itaque sapiente obcaecati adipisci dicta? Sed nostrum ea enim labore alias voluptatem facilis? Voluptatum, excepturi! Veniam saepe suscipit ullam quae aliquam nulla, explicabo ducimus nemo dolore non modi magni quam necessitatibus dolorum aut. Vel incidunt debitis adipisci ipsum doloremque. Provident ducimus cum illum culpa, error consequatur magni assumenda doloremque porro nam, consequuntur rerum voluptatum! Exercitationem odio fugiat aut dolore ab dolores.</p>

    </div>

</div>
