<div class="container">
  <form [formGroup]="formRegistro" method="POST" id="signup">

    <!-- TITOL REGISTRE -->
    <div class="header">
      <h3>Registre</h3>
    </div>
    <!-- SEPARACIÓ -->
    <div class="sep"></div>

    <div class="inputs">
      <div class="form-group">
        <!-- INPUT NOM USUARI -->
        <input
        name="nom"
        type="text"
        class="form-control"
        formControlName="name"
        placeholder="Nom"
        required/>

        <!-- MISSATGE ERROR NOM -->
        <div *ngIf="!formRegistro.controls.fname.valid && formRegistro.dirty">
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.name">
              <div
                *ngIf="
                formRegistro.get('name').hasError(validation.type) &&
                  (formRegistro.get('name').dirty || formRegistro.get('name').touched)
                "
              >
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </div>

        <!-- INPUT COGNOM USUARI -->
        <input
        type="text"
        name="cognom"
        class="form-control"
        formControlName="lname"
        placeholder="Cognoms"
        required />

        <!-- MISSATGE ERROR COGNOM -->

        <!-- INPUT TELEFON USUARI -->
        <input
        type="number"
        name="telefon"
        class="form-control"
        formControlName="telefon"
        placeholder="Telèfon Movil"
        required />

        <!-- MISSATGE ERROR TELEFON -->

        <!-- INPUT CORREU ELECTRONIC USUARI -->
        <input
        type="email"
        name="email"
        class="form-control"
        formControlName="email"
        placeholder="Correu Electronic"
        required />

        <!-- MISSATGE ERROR CORREU ELECTRONIC -->

        <!-- INPUT CONTRASENYA USUARI -->
        <input
        type="password"
        name="pass"
        class="form-control"
        formControlName="pass"
        placeholder="Contraseña"
        required />

        <!-- MISSATGE ERROR CONTRASENYA -->

        <!-- INPUT REPETIR CONTRASENYA -->
        <input
        type="password"
        name="rpass"
        class="form-control"
        formControlName="rpass"
        placeholder="Confirmar la Contraseña"
        required />

        <!-- MISSATGE ERROR REPETIR CONTRASENYA -->


        <div class="checkboxy">
          <input name="cecky" id="checky" value="1" type="checkbox" />
          <label class="terms">
            Accepto el terminis i les condicions
          </label>
        </div>

        <div class="buttons">
          <div class="containerbtn">
            <button type="button" class="btn effect04" data-sm-link-text="Registra'm" target="_blank"
              (click)="registrarUsuari()" [disabled]="!formRegistro.valid">
              <span>Registra'm</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
​
