<div class="container">
  <form id="signup">
    <div class="header">
      <h3>Registro</h3>
    </div>
    <div class="sep"></div>
    <div class="inputs">
      <input type="text" placeholder="Nom" autofocus />
      <input type="text" placeholder="Cognoms"  />
      <input type="number" placeholder="Telèfon Movil" autofocus />
      <input type="email" placeholder="Correu Electronic" />
      <input type="password" placeholder="Contraseña" />
      <div class="checkboxy">
        <input name="cecky" id="checky" value="1" type="checkbox" /><label class="terms">Accepto el terminis i les condicions</label>
      </div>
      <div class="box">
        <a href="#" class="btn btn-white btn-animation-1">Registra'm</a>
      </div>
    </div>
  </form>
</div>
​
